.gallery {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.thumb__gallery {
  margin: 10px;

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}
